<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      	<title>{func:title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
				{clansphere:navmeta}

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
				<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <script src="js/vendor/jquery-2.1.4.min.js"></script>
				<script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
            <section class="log-block">
                <form>
                    <input type="text" id="target" placeholder="usuario ej:f0rest">
                    <input type="password" placeholder="Contraseña">
                    <input type="submit" value="ingresar">
                </form>
            </section>

				<header>
					<figure>
						<figcaption>Thesgo7</figcaption>
					</figure>
					{users:navlogin}
				</header>

				<section class="contenido">
					<div class="noticia">
						{func:show}
					</div>
          <div class="resultado">
            <h3>Resultados</h3>
            <ul>
              <li>Dignitas (16) <span>vs</span> Hr (5)</li>
              <li>Dignitas (16) <span>vs</span> Hr (5)</li>
              <li>Dignitas (16) <span>vs</span> Hr (5)</li>
            </ul>
          </div>
				</section>

				<footer>
          <div class="logo">
            Thesgo
          </div>
				</footer>




        <script src="js/main.js"></script>
    </body>
</html>
