/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html
  color: #222
  font-size: 1em
  line-height: 1.4

::-moz-selection
  background: #b3d4fc
  text-shadow: none

::selection
  background: #b3d4fc
  text-shadow: none

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical

.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

// fuentes

open_sans = 'Open Sans', sans-serif

body
  font-family open_sans
  font-size 1em


@import url('http://fonts.googleapis.com/css?family=Ruslan+Display|Syncopate|Ubuntu')
.log-block
  background #0092D0
  padding 0px
  height 60px
  display none
  .form-login
    width 480px
    float right
    input
      border none!important
      padding 0 10px
      margin 15px 0
      font-size 14px
      height 30px
      line-height 30px
      border 2px solid #0092D0
    input[type=text]
      display inline-block
      vertical-align top
      color #888
    input[type=password]
      display inline-block
      vertical-align top
      color #888
    input[type=submit]
      display inline-block
      vertical-align top
      background #4cb2de
      color #fff
      &:hover
        background #262B2F
        transition all ease 0.5s
        -moz-transition all ease 0.5s
        -webkit-transition all ease 0.5s
        -o-transition all ease 0.5s
body
  background #323B43

#menu
  background #323B43
  height 30px

  ul
    margin 0
    padding 5px 10px

    a
      color #d0d1d2
      font-weight bold
      margin 5px 10px
      text-decoration none
      width 150px
    a:hover
      color #787C80

#cabecera
  background #262B2F
  height 80px
  border-bottom 2px solid #0092D0

  .thesgo
    display inline-block
    font-family: Rammetto One, cursive
    font-size: 50px
    color #0092D0
    margin 0

    width 500px
  .userArea
    display inline-block
    float right
    width 500px
    a
      color #D0D1D2
/* fin header */
#noticias
  margin 10px
  width 950px
  display inline-block
  
  .news
    display inline-block
    background #262B2F
    border 1px solid #787C80
    border-radius 2px
    height 175px
    overflow hidden
    width 300px
    
    .arriba
      height 75px
      border-bottom 2px solid #0092D0
      
      
      h3
        color #D0D1D2
        font-family 'Ubuntu'
        font-size 20px
        margin 0
        padding 5px
        width 250px
      p
        display none
        float left
        font-size 10px
        margin 0
    .abajo
      height 125px
      
      .foto
        img
          width 300px
          height 100px
          
      p
        display none
        position absolute
        margin 0
        padding 0
        font-size 12px
#wars
  margin 10px 0 0 0
  vertical-align top
  display inline-block
  width 300px
  background #D0D1D2
  
  h4
    display inline-block
    background #262B2F
    padding 5px
    margin 0
    color #D0D1D2
    font-family 'Syncopate'
    border-bottom 2px solid #0092D0
  article
    list-style none

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before,
.clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print
  *,
  *:before,
  *:after
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important

  a,
  a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  a[href^="#"]:after,
  a[href^="javascript:"]:after
    content: ""

  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr,
  img
    page-break-inside: avoid

  img
    max-width: 100% !important

  p,
  h2,
  h3
    orphans: 3
    widows: 3

  h2,
  h3
    page-break-after: avoid


 @import "content"

